{:overhead 7.079026989220395E-9,
 :samples
 (527848484 542643163 552692417 569467733 598030308 563641547),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :clojure-version-string "1.12.4",
  :java-version "11.0.30",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Ubuntu",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "11",
  :sun-arch-data-model "64"},
 :mean [0.5580829110000001 (0.5404204298333334 0.5770465293333334)],
 :final-gc-time 679394043,
 :execution-count 1,
 :variance
 [7.09129216910067E-4 (1.9409144026837232E-4 0.0013064634355660337)],
 :os-details
 {:arch "amd64",
  :available-processors 3,
  :name "Linux",
  :version "5.15.0-173-generic"},
 :tail-quantile 0.025,
 :outlier-variance 0.13888888888888856,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 5457975206,
 :lower-q [0.5278484840000001 (0.5278484840000001 0.542643163)],
 :warmup-executions 10,
 :sample-count 6,
 :upper-q [0.593731712875 (0.563641547 0.598030308)],
 :fastester/metadata
 {:fexpr
  "(fn [n] ((select-keys-tactic) (get-in large-maps [n :map]) (get-in large-maps [n :half-keys])))",
  :date {:year 2026, :month "March", :day 16},
  :group "Measure `select-keys` variants, contains half keys",
  :index 13,
  :ns "see-sharp.performance.select-keys",
  :UUIDv4 #uuid "44e62c0e-27cb-4ee6-b62b-77174e8718e6",
  :name "select-half-keys-large",
  :testing-thoroughness :quick,
  :arg 1000000,
  :version "select-keys",
  :parallel? false},
 :total-time 3.354323652,
 :sample-variance [5.864427091791788E-4 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 7.079026989220395E-9},
 :sample-mean [0.559053942 (0.48640420433624376 0.6317036796637563)],
 :results :fastester/benchmark-fn-results-elided}
