{:title "Performance of `select-keys` variants"

 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}

 :copyright-holder "Brad Losavio"

 :fastester-UUID #uuid "d9a58c57-e8c3-4413-aab3-8ef9e05f948e"

 :preferred-version-info :lein

 :benchmarks {'see-sharp.performance.select-keys #{'select-all-keys-small
                                                   'select-all-keys-large
                                                   'select-half-keys-small
                                                   'select-half-keys-large
                                                   'select-none-keys-small
                                                   'select-none-keys-large}}

 ;; output directories and filenames
 :html-directory "doc/"
 :html-filename "select_keys_performance.html"
 :img-subdirectory "select_keys_img/"

 :markdown-directory "doc/"
 :markdown-filename "select_keys_performance.md"

 :results-url "https://github.com/blosavio/see-sharp/blob/main/"
 :results-directory "resources/select_keys_performance/"

 :verbose? true
 :testing-thoroughness :quick
 :parallel? false
 :save-benchmark-fn-results? false

 :sort-comparator compare #_#(> (Integer/parseInt %1) (Integer/parseInt %2))

 :tidy-html? true

 :preamble
 [:div
  [:h2 "How does Clojure's "
   [:code "select-keys"]
   " performance compare to alternatives?"]

  [:p [:em "Observation: A straightforward, idiomatic implementation with "
       [:code "reduce"]
       ", "
       [:code "conj!"]
       ", and transients offers performance improvements across a wide range of
 conditions."]]

  [:p "Clojure's "
   [:code "select-keys"]
   " is "
   [:a {:href "https://github.com/clojure/clojure/blob/clojure-1.12.4/src/clj/clojure/core.clj#L1555"}
    "implemented"]
   " with recursive loop pattern. Let's write "
   [:a {:href "https://github.com/blosavio/see-sharp/blob/main/src/see_sharp/select_keys_variants.clj"}
    "six variants"]
   " that mix-and-match components and compare their performance."]

  [:table
   [:tr
    [:th "name"]
    [:th "machine"]
    [:th ""]]
   [:tr
    [:td [:code "select-keys"]]
    [:td [:code "loop"] " & " [:code "recur"]]
    [:td ""]]
   [:tr
    [:td [:code "fselect-keys-1"]]
    [:td [:code "reduce"] " & " [:code "assoc"]]
    [:td ""]]
   [:tr
    [:td [:code "fselect-keys-2"]]
    [:td [:code "reduce"] " & " [:code "assoc!"]]
    [:td "transients"]]
   [:tr
    [:td [:code "fselect-keys-3"]]
    [:td [:code "reduce"] " & " [:code "conj"] " a " [:em "MapEntry"]]
    [:td ""]]
   [:tr
    [:td [:code "fselect-keys-4"]]
    [:td [:code "reduce"] " & " [:code "conj!"]]
    [:td "transients"]]
   [:tr
    [:td [:code "fselect-keys-5"]]
    [:td [:code "reduce"] " & " [:code "conj"] " a " [:em "MapEntry"]]
    [:td ""]]
   [:tr
    [:td [:code "fselect-keys-6"]]
    [:td [:code "reduce"] " & " [:code "conj!"] " a " [:em "MapEntry"]]
    [:td "transients"]]]

  [:p "We'll use the "
   [:a {:href "https://github.com/hugoduncan/criterium/"}
    "Criterium"]
   " benchmarking facility to "
   [:a {:href "https://github.com/blosavio/see-sharp/blob/main/test/see_sharp/performance/select_keys.clj"}
    "objectively measure"]
   " the evaluation times of a range of conditions. We'll explore two regimes of
 hashmap sizes: zero to sixteen key/values pairs stepping by ones, and one to
 one-million key/value pairs stepping by decades. Further, we'll investigate the
 effects of the different flavors of key sequences (labeled "
   [:em "all keys"]
   ", "
   [:em "half keys"]
   ", and "
   [:em "no keys"]
   ", explained later)."]

  [:p "Overall, three variants demonstrated improved performance over
 Clojure's "
   [:code "select-keys"]
   ". Variant six, labeled as "
   [:em "fselect-keys-6"]
   ", displayed 5–20% improved performance over a wide range of hashmap sizes
 and fractions of key sequence matches. This implementation is straightforward
 and maintains idiomatic style. It is provided by "
   [:code "see-sharp"]
   "'s "
   [:a {:href "https://blosavio.github.io/see-sharp/see-sharp.core.html"}
    "core namespace"]
   ", named "
   [:code "fselect-keys"]
   "."]]

 :comments
 {"Measure `select-keys` variants, contains all keys"
  [:div
   [:p "Let's consider selecting keys from hashmaps where the elements of the
 key sequence are all present in the hashmap. For example, this hashmap…"]
   [:pre [:code "{:a 11 :b 22 :c 33 :d 44 :e 55 :f 66}"]]
   [:p "…fully contains the elements of this key sequence."]
   [:pre [:code "[:a :b :c :d :e :f]"]]
   [:p "If we stack them, we can see the matches."]
   [:pre
    [:code "{:a 11 :b 22 :c 33 :d 44 :e 55 :f 66} ;; hashmap"]
    [:br]
    [:code "[:a    :b    :c    :d    :e    :f]    ;; key sequence"]]
   [:p "The hashmap contains every keyword contained in the key sequence, "
    [:code ":a"]
    " through "
    [:code ":f"]
    ". The output hashmap would be identical to the input hashmap. Though we are
 using keywords as keys for this illustration, during benchmarking, the keys are
 integers."]
   [:p "We'll test hashmaps in two size regimes. The first regime is 'large':
 hashmaps containing one, ten, one-hundred, …up to one-million key-value
 pairs. The second regime is 'small': hashmaps containing one to sixteen
 key/value pairs. We will compare the Clojure's "
    [:code "select-keys"]
    " (magenta diamonds) to six alternative implementations."]

   [:p "The upper chart shows that variants 2 (orange diamonds), 4 (green
 squares), and 6 (gold circles) demonstrate 20-25% speedups across a wide range
 of hashmap sizes. The lower chart shows that most of the variants perform
 similarly, with 2, 4, and 6 again performing among the speediest by a small
 margin."]]

  "Measure `select-keys` variants, contains half keys"
  [:div
   [:p "The next two charts involve scenarios where the hashmap contains half of
 the elements of the key sequence. For example, the following hashmap contains
 only half the keys of the key sequence."]

   [:pre
    [:code "{:a 11 :b 22 :c 33 :d 44 :e 55 :f 66}          ;; hashmap"]
    [:br]
    [:code "[:a          :c          :e          :g :h :i] ;; key sequence"]]

   [:p "The hashmap contains keywords "
    [:code ":a"]
    ", "
    [:code ":c"]
    ", and "
    [:code ":e"]
    ", but not "
    [:code ":b"]
    ", "
    [:code ":d"]
    ", nor "
    [:code ":f"]
    ". Furthermore, the key sequence contains three keywords that are not in the
 hashmap. The output hashmap would be half the size of the input hashmap."]

   [:p "Variants 4 (green triangles) and 6 (gold circles) show 15-20% speedups
 for both large hashmaps (first chart below) and small hashmaps (second chart
 below)."]]

  "Measure `select-keys` variants, contains no keys"
  [:div
   [:p "These final two charts show scenarios when none of elements of the key
 sequence are keys of the hashmap. For example, the following hashmap and key
 sequence contain zero keys in common."]

   [:pre
    [:code "{:a 11 :b 22 :c 33 :d 44 :e 55 :f 66}                   ;; hashmap"]
    [:br]
    [:code "[                                    :g :h :i :j :k :l] ;; key sequence"]]

   [:p "The hashmap contains keys "
    [:code ":a"]
    " through "
    [:code ":f"]
    ", while the key sequence contains keys "
    [:code ":g"]
    " through "
    [:code ":l"]
    ". In this case, though the "
    [:code "select-keys"]
    " variants must handle all the elements of the key sequence, the output
 hashmap would be empty."]

   [:p "Variant 6 (gold circles) shows about a 5% speedup over Clojure's
 built-in "    [:code "select-keys"]
    " (magenta diamonds) for large hashmaps (first chart) and pretty much
 matches it performance for small hashmaps (second chart)."]]}

 :chart-settings
 {"(fn [n] ((select-keys-tactic) (get-in large-maps [n :map]) (get-in large-maps [n :all-keys])))"
  {:x-axis-logarithmic? true
   :y-axis-logarithmic? true}

  "(fn [n] ((select-keys-tactic) (get-in small-maps [n :map]) (get-in small-maps [n :all-keys])))"
  {:x-axis-logarithmic? false
   :y-axis-logarithmic? false}

  "(fn [n] ((select-keys-tactic) (get-in large-maps [n :map]) (get-in large-maps [n :half-keys])))"
  {:x-axis-logarithmic? true
   :y-axis-logarithmic? true}

  "(fn [n] ((select-keys-tactic) (get-in small-maps [n :map]) (get-in small-maps [n :half-keys])))"
  {:x-axis-logarithmic? false
   :y-axis-logarithmic? false}

  "(fn [n] ((select-keys-tactic) (get-in large-maps [n :map]) (get-in large-maps [n :none-keys])))"
  {:x-axis-logarithmic? true
   :y-axis-logarithmic? true}

  "(fn [n] ((select-keys-tactic) (get-in small-maps [n :map]) (get-in small-maps [n :none-keys])))"
  {:x-axis-logarithmic? false
   :y-axis-logarithmic? false}}}

