{:overhead 7.316652547604437E-9,
 :samples (100345176 100130833 99468291 99755031 99555321 104046272),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :clojure-version-string "1.12.4",
  :java-version "11.0.30",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Ubuntu",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "11",
  :sun-arch-data-model "64"},
 :mean
 [1.3409516377777778E-4 (1.3298537133333335E-4 1.3621333355555556E-4)],
 :final-gc-time 411697263,
 :execution-count 750,
 :variance
 [5.431910145504297E-12
  (1.3967659525522824E-13 1.0756608471680524E-11)],
 :os-details
 {:arch "amd64",
  :available-processors 3,
  :name "Linux",
  :version "5.15.0-173-generic"},
 :tail-quantile 0.025,
 :outlier-variance 0.13888888888888862,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 1},
 :warmup-time 5348474705,
 :lower-q [1.32624388E-4 (1.32624388E-4 1.32740428E-4)],
 :warmup-executions 39559,
 :sample-count 6,
 :upper-q
 [1.380757895E-4 (1.3350777733333333E-4 1.3872836266666668E-4)],
 :fastester/metadata
 {:fexpr
  "(fn [n] ((select-keys-tactic) (get-in small-maps [n :map]) (get-in small-maps [n :all-keys])))",
  :date {:year 2026, :month "March", :day 16},
  :group "Measure `select-keys` variants, contains all keys",
  :index 56,
  :ns "see-sharp.performance.select-keys",
  :UUIDv4 #uuid "89f2adde-5ccf-4fb7-85d9-566e83beaefe",
  :name "select-all-keys-small",
  :testing-thoroughness :quick,
  :arg 1,
  :version "fselect-keys-5",
  :parallel? false},
 :total-time 0.603300924,
 :sample-variance [5.416187728083897E-12 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 7.316652547604437E-9},
 :sample-mean
 [1.34066872E-4 (1.270850606624777E-4 1.4104868333752232E-4)],
 :results :fastester/benchmark-fn-results-elided}
