{:overhead 7.316652547604437E-9,
 :samples
 (340205945 305848272 262729882 262846973 224860761 237202723),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :clojure-version-string "1.12.4",
  :java-version "11.0.30",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Ubuntu",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "11",
  :sun-arch-data-model "64"},
 :mean [0.272282426 (0.24468971483333335 0.3058599048333333)],
 :final-gc-time 388714274,
 :execution-count 1,
 :variance
 [0.0021658088548435995 (7.754344938063809E-4 0.003732023603704196)],
 :os-details
 {:arch "amd64",
  :available-processors 3,
  :name "Linux",
  :version "5.15.0-173-generic"},
 :tail-quantile 0.025,
 :outlier-variance 0.47771421777886774,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 5641063112,
 :lower-q [0.22486076100000002 (0.22486076100000002 0.237202723)],
 :warmup-executions 22,
 :sample-count 6,
 :upper-q [0.3305360735 (0.262832336625 0.340205945)],
 :fastester/metadata
 {:fexpr
  "(fn [n] ((select-keys-tactic) (get-in large-maps [n :map]) (get-in large-maps [n :none-keys])))",
  :date {:year 2026, :month "March", :day 16},
  :group "Measure `select-keys` variants, contains no keys",
  :index 37,
  :ns "see-sharp.performance.select-keys",
  :UUIDv4 #uuid "c4bdacc2-5cd8-49c2-bcf4-edb9e11dea94",
  :name "select-none-keys-large",
  :testing-thoroughness :quick,
  :arg 1000000,
  :version "fselect-keys-5",
  :parallel? false},
 :total-time 1.633694556,
 :sample-variance [0.0018799898390333316 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 7.316652547604437E-9},
 :sample-mean [0.272282426 (0.14220587718623423 0.4023589748137658)],
 :results :fastester/benchmark-fn-results-elided}
